{% extends 'base.html' %}
{% load assets %}
{% block body %}
<body>

	{% include "partial/__content_header.html" %}

	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="/">Home</a></li>
				  <li class="active">Carrinho</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<form action="/conta/finalizar/" method="post">
				{% csrf_token %}
				<table class="table table-condensed" id"cart-table">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="table-data">
					{% for product in products %}
						<tr>
							<td class="cart_product">
								<a href=""><img src="/{{product.image.url}}" alt=""></a>
							</td>
							<td class="cart_description">
							<input type="hidden" name="product[]" value="{{product.id}}">
								<h4><a href="">{{product.nome}}</a></h4>
								<p class="pdt-id" >Web ID: {{product.id}}</p>
							</td>
							<td class="cart_price">
								<p>R${{product.preco}}</p>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									<h4>{{cart|dictionary:product.id}}</h4>						
								</div>
							</td>
							<td class="cart_total">
								<p class="cart_total_price">R${{cart|dictionary:product.id|multiply:product.preco}}</p>
							</td>
							<td class="cart_delete">
								<!--a data-qnt="{{cart|dictionary:product.id}}" data-product="{{product.id}}" class="cart_quantity_delete" href="#"><i class="fa fa-times"></i></a-->
							</td>
						</tr>
						{% endfor %}
						<tr>
							<td colspan="6">
							<form action="" method="POST">
								{% csrf_token %}
								<input type="hidden" name="pagform" value="boleto">
								<button class="btn" type="submit">Pagar com Boleto</button>
							</form>
							<form action="" method="POST">
								{% csrf_token %}
								<input type="hidden" name="pagform" value="cartao">
								<button class="btn" style="float:right;" type="submit">Pagar com Cartao</button>
							</form>
							</td>
						</tr>

						
					</tbody>
				</table>
				</form>
			</div>
		</div>
	</section> <!--/#cart_items-->

	{% include 'partial/__footer.html' %}


</body>
{% endblock body %}
	{% include 'partial/__footer.html' %}
