{% extends 'base.html' %}
{% load assets %}
{% block body %}
<body>

    {% include "partial/__content_header.html" %}
    
    
    <section id="cart_items">
        <div class="container">
            <div class="breadcrumbs">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li class="active">Lista de Desejos</li>
                </ol>
            </div>
            <div class="table-responsive cart_info">
                <table class="table table-condensed" id"cart-table">
                    <thead>
                        <tr class="cart_menu">
                            <td class="image">Item</td>
                            <td class="description"></td>
                            <td class="price">Preço</td>
                            <!--td class="quantity">Quantity</td>
                            <td class="total">Total</td-->
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="table-data">
                    {% for product in products %}
                        <tr>
                            <td class="cart_product">
                                <a href=""><img src="/{{product.image.url}}" alt=""></a>
                            </td>
                            <td class="cart_description">
                            <input type="hidden" name="product[]" value="{{product.id}}">
                                <h4><a href="">{{product.nome}}</a></h4>
                                <p class="pdt-id" >Web ID: {{product.id}}</p>
                            </td>
                            <td class="cart_price">
                                <p>R${{product.preco}}</p>
                            </td>
                            <!--td class="cart_quantity">
                                <div class="cart_quantity_button">
                                    
                                    <input class="cart_quantity_input" type="number" name="quantity[{{product.id}}]" value="wish|dictionary:product.id" min="1" max="99" required="true">
                                    
                                </div>
                            </td>
                            <td class="cart_total">
                                <p class="cart_total_price">R$wish|dictionary:product.id|multiply:product.preco</p>
                            </td-->
                            <td class="cart_delete">
                                <a onclick="add_cart_or_wish({{product.id}},1,'/carrinho/','wishlist')" class="btn" style="margin-bottom:5%"><i class="fa fa-shopping-cart"></i> Carrinho</a>
                                <a class="cart_quantity_delete" data-qnt="{{wishlist|dictionary:product.id}}" data-product="{{product.id}}" href="#" onClick="return false"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    </section> <!--/#cart_items-->

    {% include 'partial/__footer.html' %}
        <script type="text/javascript">
        $(document).ready(function(){
            $('.cart_quantity_delete').bind('click',function(e){
                var qnt = $(this).parent().parent().children('.cart_quantity_input').val();
                var that = $(this);
                console.log('sim')
                $.ajax({
                    method:'DELETE',
                    url:'/desejo/',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                    },
                    data:{
                        'product':$(this).data('product'),
                        'qnt':$(this).data('qnt'),
                    }
                }).success(function(data){
                    var to_rm = that.parent().parent();
                    to_rm.remove();
                })
                e.preventdefault();
            });


        });
        </script>

</body>
{% endblock body %}