{% extends 'business/businessBase.html' %}
{% load assets %}
{% block content%}


<table class="table">
    <thead>
        <tr class='text-center'>
            <td>Produto</td>
            <td>Pedidos</td>
            <td>media de Quantidade/Pedido</td>
        </tr>
    </thead>
    <tbody id="topProduct">
    {% for topProduct in topProducts %}
        <tr>
            <td>{{topProduct.produto.nome}}</td>
            <td>{{topProduct.orders}}</td>
            <td>{{topProduct.sumQnt}}</td>
        </tr>
    {% enfor %}
    </tbody>
</table>

{% endblock content %}
