{% extends 'account/accountBase.html' %}
{% block content %}
{% if success %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 success">
        <span>{{success}}</span>
    </div>
</div>
{% endif %}
<div class="row">
    <div class="col-md-7 col-md-offset-3" id="cart_items">
        <table class="table cart_info">
            <thead>
                <tr class="cart_menu text-center">
                    <td>Pedido ID</td>
                    <td>Ultima Atualização</td>
                    <td>Status</td>
                </tr>
            </thead>
            {% for order in orders %}
                <tr class="text-center">
                    <td><a style="color:#888" href="/conta/pedido/?id={{order.id}}">{{order.id}}</a></td>
                    <td><a style="color:#888" href="/conta/pedido/?id={{order.id}}">{{order.last_update}}</a></td>
                    <td><a style="color:#888" href="/conta/pedido/?id={{order.id}}">{{order.status}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}