{% load filterUrl %}
{% setfilter filtro %}
<div class="col-sm-3">
    <div class="left-sidebar">
        <h2>Menu</h2>
        <div class="panel-group category-products" id="accordian"><!--category-productsr-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title"><a href="/business/dashboard/">Dashboard</a></h4>
                    <h4 class="panel-title"><a href="/business/conversao/">Conversão Carrinho</a></h4>
                    <h4 class="panel-title"><a href="/conta/minha-conta/">Visitas</a></h4>
                    <h4 class="panel-title"><a href="/conta/minha-conta/">Top Produtos</a></h4>
                    <h4 class="panel-title"><a href="/conta/minha-conta/">Afinidade</a></h4>
                    <h4 class="panel-title"><a href="/conta/sair/">Sair</a></h4>
                </div>
            </div>
        </div><!--list-options-->
    </div>
</div>
