{% load filterUrl %}
{% setfilter filtro %}
	<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> (41) 6666-6666</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> contato@ephemeral.com.br</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="companyinfo">
							<h2>
								<span>e</span>-Phemeral
							</h2>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								<li><a href="/desejo/"><i class="fa fa-star"></i> Lista de Desejos</a></li>
								<li><a href="/carrinho/"><i class="fa fa-shopping-cart"></i> Carrinho</a></li>
								{% if user.is_authenticated %}
								<li><a href="/conta/"><i class="fa fa-user"></i> Account</a></li>
								{% else %}
								<li><a href="/login/"><i class="fa fa-lock"></i> Login</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Home</a></li>
								<li class="dropdown"><a href="#">Compra<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="/produtos/">Produtos</a></li>
										<li><a href="/desejo/">Lista de Desejo</a></li> 
										<li><a href="/carrinho/">Carrinho</a></li> 
										<li><a href="/login/">Login</a></li> 
                                    </ul>
                                </li> 
								<li><a href="/fale-conosco/">Contato</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<form id="search-form" action="/produtos/" method="GET">
						<input type="hidden" name="params" value="{{''|filter_url:''}}">
						<div class="search_box pull-right">
							<input type="text" name="search" value="{{search}}" placeholder="Busca"/>
						</div>
						</form>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
		<script type="text/javascript">
		$().ready(function(){
			$('#search-form').submit(function(e){
				var params = this.params.value;
				if(params.length)
					params+='&search='+escape(this.search.value);
				else
					params='?search='+escape(this.search.value);
				window.location = '/produtos/'+params;
				e.preventDefault();
			})
		});
		</script>
		<script type="text/javascript">
	function add_cart_or_wish(id, qnt, action, from){
		var f = document.createElement('form');
		f.action = action;
		f.method = 'POST';
		if(from)
			f.appendChild(make_input('from', from));
		f.appendChild(make_input('product', id));
		f.appendChild(make_input('qnt', qnt));
		f.appendChild(make_input('csrfmiddlewaretoken','{{ csrf_token }}'));
		f.submit();
		console.log(f);
	}
	function make_input(name, value){
		var input = document.createElement('input');
		input.name = name;
		input.value = value;
		return input;
	}
</script>
	</header><!--/header-->